<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serverURL" value="http://127.0.0.1:31031" />
		<add key="serverPath" value="/recognize" />
		<add key="sleepTime" value="5000" />
		<add key="maxLoop" value="200" />
		<add key="micSampleRate" value="44100" />
		<add key="systemAudioSampleRate" value="24000" />
		<add key="voskModelPath" value="C:\\GitHub\\vosk-model-small-en-us-0.15" />
	</appSettings>
</configuration>